# 仮想環境は上げない
venv/
env/

# Pythonが勝手に作るキャッシュファイルは上げない
__pycache__/
*.pyc

# データベースファイル（本来は共有しないのが定石）
# ※友人とデータの中身も共有したいなら、ここには書かないでください！
# でも、同時に編集すると壊れるので、基本は共有せず、それぞれのPCで作ります。
db.sqlite3
db.sqlite3-journal

# VSCodeの設定ファイル
.vscode/

# 画像ファイル（容量削減のため。必要なら#を外してアップロードする）
# media/